html, body {
    min-height: 100%; 
    overflow: auto;
}

.main {
    height: 100%;  
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    padding: 15px 5%;    
}

.red {
   border: red 1px solid;    
}

.blue {
    border: blue 1px solid;    
}

.green {
    border: green 1px solid;    
}


.wrapper, .fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

.light {
    background-color: #f7f7f7;
}

.dark {
    background-color: #e2e2e2;    
}

.foldcontainer {
    background: #f7f7f7; 
}

.mainslider {
    min-height: 400px;    
}

.carousel{
    overflow:hidden;
    width:100%;
    height: 500px;
        margin: 0;
        padding: 0;
        
}

.panes{
    list-style:none;
    position:relative;
    'width: 400%; /* Number of panes * 100% */
    height: 100%;
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
        
    -moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;
        -webkit-transition: right 1s;
        -moz-transition: right 1s;
        transition: right 1s;
    'right: 0%;
    margin: 0;
    padding: 0;
}


ul.panes >li {
    background-size: cover;
    background-position: center;
    position:relative;
    float:left;
    width:25%; /* 100 / number of panes */
    height: 100%;
        margin: 0;
        right: 0%;
    overflow: hidden;
    text-align: center;
    color: #f7f7f7
}

ul.panes li h1 {
    margin-top: 150px;
    font-family: denseregular;
    color: #f7f7f7;
    font-size: 7rem;
}

ul.panes li h2 {
    margin: 0 0 100px;
    color: #f7f7f7;   
    font-family: "biro_script";
    font-size: 3rem;
}

ul.panes li.homebanner {
    background-image: url(../img/hotspotbanner_notext.png);
}

ul.panes li.datingbanner {
    background-image: url(../img/datingbanner_notext.png);
}

ul.panes > li > img {
    height: 100%;
    min-width: 1920px;
    position: absolute;
    top: 0;
    margin: 0 auto;
}


.redborder {
    box-shadow: inset 0 0 5px #ff0000;    
}

.panel {  
    box-sizing: border-box;
}

.flavour {
    max-width: 350px;
    width: 90%;
    margin: 5% auto;  
    vertical-align: middle;
}

.flavalign {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;     
}

.center {
    text-align: center;    
}


.headerwrapper {
    margin-top: 15px;
    height: 70px;
    width: 100%;
    z-index: 10;
    font-family: "denseregular";
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(25, 25, 25, 0.25);
    overflow: hidden;
}

.header {
    width: 1500px;
    margin: 0 auto;
    height: 70px;
}

.header ul {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    list-style-type: none;
    display: block;
    padding-right: 30px;
}

.header ul li {
    float: left;
    display: block;
    margin: 0;
    height: 70px;
}

.header ul li a, ul.off-canvas-list li a {
    color: #f7f7f7;   
    height: 70px;
    display: block;
    padding: 15px;
    'border: 1px solid red;
    transition: background-color 0.2s;
    font-family: denseregular;
    font-size: 40px;
    line-height: 39px;
}

.header ul li a:hover, ul.off-canvas-list li a:hover {
    background-color: rgba(178, 34, 34, 0.75);    
}
a.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    margin: 5px 0 0 5px;    
}

a.logo img {
    height: 90px;    
}

.flavourtext {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

.flavourtext h1 {
    font-family: denseregular;  
    font-size: 4em;
}

.menu-icon {
    padding: 0;    
}
.menu-icon svg {
    margin: 0 auto;   
}

.footer {
    background-color: #888;
    color: #f7f7f7;
    font-family: sans-serif;
    padding: 5px;
    font-size: 0.7em;
}

.row.contentbuttons .columns {
    padding: 5px;
    overflow: hidden;
}

.row.contentbuttons .columns h1 {
        font-family: denseregular;
        cursor: pointer;
        width: 100%;
        color: #f7f7f7;
        text-transform: uppercase;
        display: inline-block;
        float: left;
        font-size: 30px;
        line-height: 35px;
        padding: 5px 0;
        margin: 0;
    
}

.columns.watch h1, .columns.quiz h1 {
    background-color: #b22222;    
}

.columns.listen h1 , .columns.profiles h1 {
    background-color: #cc2c2c;    
}

.buttonicon {
    display: inline-block;
    margin-left: -25px;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.buttonicon img {
    height: 30px;
    width: 30px;  
    margin: -11px auto 0 auto;
}

.profiles .flavourtext p.stats {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: denseregular;    
    color: #222222;
}

.profiles img.flavour {
    max-height: 415px;    
}

#quiz .row {
    max-width: 700px;    
}

#quiz .row .columns .panel {
    background-color: #777;
    background-size: cover;
    max-width: 300px;
    max-height: 300px;
    box-sizing: border-box;
    transition: background-color 0.1s linear;
}

.selected {
   background-color: #b22222 !important;    
}

#quiz .button {
    background-color: #cc2c2c;    
}

#quiz .button:hover {
    background-color: #b22222;  
}
 
/* LARGE SCREENS */
@media only screen and (min-width: 64.063em) {
    
    ul.panes li h1 {
        margin-top: 120px;
        font-size: 10rem;
}

    ul.panes li h2 {
        margin: 0 0 200px;
        font-size: 4rem;
}
    
    .row.contentbuttons .columns h1 {
        font-size: 40px;
        line-height: 39px;
    }
    
    .buttonicon img {
        margin: -15px auto 0 auto;    
    }
}


/* SMALL SCREENS */
@media only screen and (min-width: 40em) {
    
}


/* DATING BANNER FIX */

@media only screen and (max-width: 400px;) {
    li.datingbanner h1{
        font-size: 5.5rem !important;
        line-height: 5rem;
    }
    
    li.datingbanner h2 {
        font-size: 3rem;
        margin-top: 30px;
    }
}